<li>
<section class="track-item">
    <div id="track-info" data-title="{{title}}" data-artist="{{artist}}" data-album="{{album}}" data-year="{{year}}" data-genre="{{genre}}">
      <ul>
        <li id="track-name">Title: {{title}}</li>

        <li id="artist-name">Artist: {{artist}}</li>

        <li id="album-name">Album: {{album}}</li>

        <li id="album-year">Year: {{year}}</li>

        <li id="album-genre">Genre: {{genre}}</li>
      <ul>
    </div>
    <div id="cover-art-container">
      <img src="/{{artist}}/{{album}}/{{id}}" alt="{{album}} + cover art">
    </div>
    <div id="audio-player-container">
      <audio id="player" controls>
        <source src="/tracks/{{id}}" type="audio/mp3">
      </audio>
    </div>

</section>
</li>
